* {
  box-sizing: border-box;
}

body, html {
  ///font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  /*margin-top: 60px;*/
}

.main {
  display: flex;
  flex: 1 1 0%;
  overflow-x: hidden;
}

.modeler {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  background-color: white;
}

.aside {
  width: 400px;
  position: relative;
  margin-top: -1px;
  z-index: 2;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  &.with-error .canvas {
    visibility: hidden;
    height: 100vh;
  }

  &.with-diagram .canvas {
    visibility: visible;
    height: 100vh;
  }
}

.bjs-powered-by {
  display: none;
}

//.djs-minimap{
//  background-color: #f8f8f8;
//  border: 1px solid #ccc  ;
//}

.djs-minimap.open .toggle {
  padding: 10px;
}

.io-import-export {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 2;

  .io-control {
    background: #FAFAFA;
    border-radius: 2px;
    border: solid 1px #E0E0E0;
    padding: 5px;
  }

  .io-control-list {
    list-style: none;
    padding: 5px;
    margin: 0;

    &.io-horizontal, &.io-horizontal li {
      display: inline-block;
    }

    &.io-horizontal li + li {
      margin-left: 10px;
    }

    &.io-horizontal a {
      padding: 2px;
    }

    a, a:visited, button {
      padding: 0;
      outline: none;
      cursor: pointer;
      font-size: 22px;
      line-height: 26px;
      color: #555555;
      background: none;
      border: none;
    }

    .vr {
      margin-right: 0;
      height: 15px;
      display: inline-block;
      border-right: solid 1px #DDD;
    }
  }

  .io-import, .io-export {
    margin-right: 10px !important;
  }

}

.io-dialog {
  display: none;

  &.open {
    display: block;

    &:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: #666;
      opacity: 0.2;
      z-index: 1001;
    }
  }
  & > .content {
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 10%; //100px
    background: white;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: auto;
    z-index: 1001;
    overflow: auto;
    max-height: 90%;
  }
}

.binding {
  padding: 5px 30px;
  font-family: monospace;
}

.intro{
  background: white;
  z-index: 5;
}
