a:link {
  text-decoration: none;
}

.btn{
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  background: none;
  border: none;
}

.btn-primal{
  text-align: center;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  border: 1px solid #ccc;
  border-radius: 5px ;
  margin: 6px;
  padding: 6px 12px;
  vertical-align: middle;
  color: #2c3e50;
  display: inline-block;
  text-decoration: none;
  background-color: #f8f8f8;
  font-size: 15px;
  cursor: pointer;

  &:hover{
    background-color: #eee;
  }

}

.btn-aside {
  position: sticky;
  left: 1px;
  top: 50%;
  width: 160px;
  height: 34px;
  background-color: #f8f8f8;
  color: #222;
  transform: rotate(-90deg) translateX(-50%) translateY(-100%);
  transform-origin: left top;
  font-weight: bold;
  font-size: 13px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;
  box-shadow: #00000040 0px 0px 2px;
  outline: none;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: #eee;
  }

  & > svg {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-bottom: 3px;
    box-sizing: content-box;
    color: var(--grey-darken-23);
    border-bottom: 1px solid #ccc;
    transform: rotate(90deg);
  }
}