a:link {
  text-decoration: none;
}

.btn{
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  background: none;
  border: none;
}

.btn-primal{
  text-align: center;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  border: 1px solid #ccc;
  border-radius: 5px ;
  margin: 6px;
  padding: 6px 12px;
  vertical-align: middle;
  color: #2c3e50;
  display: inline-block;
  text-decoration: none;
  background-color: #f8f8f8;
  font-size: 15px;
  cursor: pointer;

  &:hover{
    background-color: #eee;
  }

}
