.selected .comments-overlay{
  display: block;
}

.comments-overlay {
  background: #0078c2;
  font-size: 12px;
  color: white;
  display: none;
  padding: 5px;
  border-radius: 5px;
  
  &.with-comments {
    display: block;
  }

  &.expanded {
    z-index: 200;
    position: absolute; /* for z-index to work */
  }

  &.expanded .content {
    display: block;
  }

  .toggle {
    white-space: nowrap;
  }

  .comment-count {
    display: inline;
  }

  .comment {
    border-top: dotted 1px #666;
    margin-top: 4px;
    padding: 4px 17px 0px 2px;
    position: relative;

    h1 {
      margin: 0;
      font-size: 24px;
    }

    h2 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 0;
      white-space: pre-wrap;
    }

    strong {
      font-weight: 900;
    }

    a {
      color: rgb(249, 255, 170);
    }

    ul, ol {
      margin: 0;
      padding-left: 25px;
    }
    
    ul li {
      list-style-type: "— ";
    }

    .attachment-link {
      position: absolute;
      right: 15px;
      top: 4px;
      text-decoration: none;
      display: none;
      color: white;
    }

    .delete {
      position: absolute;
      right: 3px;
      top: 4px;
      text-decoration: none;
      display: none;
      color: white;
    }

    &:hover .delete, &:hover .attachment-link {
      display: block;
    }
  }

  .edit {
    margin: 2px 0 0 0;
    padding-top: 2px;

    textarea {
      border: none;
      margin: 0;
      min-width: 280px;
      width: 100%;
    }
  }

  .comment {
    border-top-color: white;
  }

  > .content {
    flex-direction: column;
    > .comments {
      flex-direction: column;
    }
  }

  &.expanded .comment-count,
  .content {
    display: none;
  }
}
